.card {
	background-color: #a9a5c4;
	margin: 30px auto 0 auto;
	width: 80%;
	padding: 20px;
	border-radius: 10px;

	h1 {
		font-size: 25px;
		color: #14076c;
	}

	p {
		line-height: 1.2rem;
	}
}

.photo {
	margin: 20px;
}

/* 星のスタイル */
.star {
	position: fixed;
	top: -20px;
	color: #fff176;
	animation: fall 4s linear infinite;
	z-index: 1;
	pointer-events: none;
}

@keyframes fall {
	to {
		transform: translateY(105vh) rotate(360deg);
		opacity: 0;
	}
}