.newspage {
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 2rem;
		font-weight: 100;
	}

	ul {

		border-left: 3px solid #ff4400;

		li {
			padding-left: 20px;
		}
	}
}

.livepage {
	h1 {
		font-family: "Montserrat", sans-serif;
		font-size: 2rem;
		font-weight: 100;
	}

	ul {

		border-left: 3px solid #a6c50a;

		li {
			padding-left: 20px;
		}
	}
}